@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
    

  }
  
  body.lock {
    overflow: hidden;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-ms-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #000;
  }
  /***********header container************/

  .header {
    width: 100%;

    z-index: 10;
}
.header__container__sticky {
    height: 90px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 49px;
    z-index: 10;
}
.header__logo {
}
.header__navigation {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    width: 548px;
}
.header__navigation__element a{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    position: relative;

}
.header__navigation__element:hover ::before{
    content: ' ';
    width: 50px;
    height: 1.64px;
    background-color: #1f9d96;
    position: absolute;
    bottom: -2.5px;
    right: 0;
}

.header__language {
    cursor: pointer;
}


/****sticky header class by JS****/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

  }
  .sticky + .header__container__sticky {

  }
.change_header_color{

}
.main__wrapper_padding{
    padding-top: 0px;
}
  /***********************/


  /***********top wrapper for main block***********/
  .main__wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-image: url('./img/background_main.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
    z-index: 150;
    padding-top: 40px;
  }
/*************right block with social networks***************/
.right__block{
    position: absolute;
    left: 0;
    height: 100%;
    background-image: url('./img/right_background.svg');
    z-index: 160;
    width: 250px;
    top: -2px;
}
/**********name & position block ********/
.name__position__block{
    position: absolute;
    z-index: 160;
    top: 236px;
    left: 320px;
}
.name__position__block p {
    font-size: 40px;
    color: rgba(225, 225, 225, 0.7);
}
.name__position__block h1 {
    font-size: 64px;
    color: #fff;
    margin-top: 37px;
}