@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
    

  }
  
  body.lock {
    overflow: hidden;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-ms-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /***********header container************/
  .main__wrapper{

    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #81848d;

  }
  .header {
    width: 100%;


}
/****sticky header class by JS****/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  .sticky + .main__wrapper {

  }

  /***********************/
  .placeholder{
    width: 100%;
    height: 40px;
  }
.header__container__sticky {
    height: 90px;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 49px;
}
.header__logo {
}
.header__navigation {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    background-color: green;
    width: 548px;
}
.header__navigation__element {
}
.header__language {
}